@{
    ViewData["Title"] = "Home Page";
}

<h1>Hotel Booking System</h1>

<div class="row">
    <div class="col-md-4" style="border-style:outset">
        <h2>Customer be able to book Rooms</h2>
        <ul>
            <li>Select Room type for booking (single/double)</li>
            <li>Select dates of stay</li>
        </ul>
    </div>
    <div class="col-md-4" style="border-style:outset">
        <h2>How to? Register and Login</h2>
        <ul>
            <li>Use gmail to authenticate you in our application</li>
            <li>Its important to own a gmail ID therefore</li>
        </ul>
    </div>
    <div class="col-md-4" style="border-style:outset">
        <h2>My Bookings</h2>
        <ul>
            <li>Once you are authorised you will be able to track all your booking history</li>
        </ul>
    </div>
</div>
